---
import { ContactForm } from '@/components/react/form/ContactForm';
---

<section id='contact' class='w-full py-12 border-t border-[var(--line)]'>
	<div class='max-w-5xl mx-auto'>
		<h2 class='text-4xl md:text-5xl font-medium text-[var(--white)] mb-6'>Contact</h2>
		<div class='grid grid-cols-1 lg:grid-cols-2 gap-12'>
			<div class='text-[var(--white-icon)]'>
				<p class='mb-4'>Have a question or a project in mind?</p>
				<p class=''>
					Don't hesitate to <span class='text-[var(--blue)] shiny-blue'>get in touch</span> — whether you're looking to collaborate,
					need help bringing your idea to life, or just want to say hello. I'm always open to exciting opportunities and meaningful
					conversations.
				</p>
			</div>
			<div>
				<ContactForm client:only='react' />
			</div>
		</div>
	</div>
</section>
