---
// index.astro
import Layout from '@/layouts/Layout.astro';
import Home from '@/components/main/home/home.astro';
import Projects from '@/components/main/projects/projects.astro';
import Contact from '@/components/main/contact/contact.astro';
import Footer from '@/components/footer/footer.astro';
---

<Layout title='Paweł Urasiński'>
	<main>
		<Home />
		<Projects />
		<Contact />
	</main>
	<Footer />
</Layout>
